node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# private
app.json
resources/*
release_notes/*
credentials/*
constants/Ads.js
constants/FirestoreValues.js

# misc
nyx/node_modules/**/*

# macOS
.DS_Store
